<%- include('../includes/head.ejs') %>
<link rel="stylesheet" href="/css/product.css">

</head>

<body>
    <%- include('../includes/navigation.ejs') %>
    <main>
        <h3 class="product__price">Cart total Price : <span><strong>$<%= totalCartPrice%></strong></span></h3>
        <% if (prods.length > 0) { %>
        <div class="grid">
            <% for (let product of prods) { %>
            <article class="card product-item">
                <header class="card__header">
                    <h1 class="product__title">
                        <%= product.cartProductData.title %>
                    </h1>
                </header>
                <div class="card__image">
                    <img src="<%= product.cartProductData.imageUrl %>" alt="<%= product.title %>">
                </div>
                <div class="card__content">
                    <h2 class="product__price">$<%= product.cartProductData.price %> &nbsp;&nbsp;|&nbsp;&nbsp;Qty: <%= product.qty%>
                    </h2>
                    <p class="product__description">
                        <%= product.cartProductData.description %>
                    </p>
                </div>
                <div class="card__actions">
                    <a href="/products/<%= product.cartProductData.id %>" class="btn">Details</a>
                    <!-- <%-include('../includes/add-to-cart.ejs', {prod: product})%> -->
                    <form action="/cart/delete-product" method="POST">
                        <input type="hidden" name="productId" value="<%= product.cartProductData.id%>">
                        <input type="hidden" name="productPrice" value="<%= product.cartProductData.price%>">
                        <button class="btn" type="submit">Delete</button>
                    </form>
                </div>
            </article>
            <% } %>
        </div>
        <% } else { %>
        <h1>You've no Products in the cart!</h1>
        <% } %>
    </main>
    <%- include('../includes/end.ejs') %>